# ignroe everything
/*
/*/

# ... but these:
!/zsh/

!/ranger/

!/nvim/
/nvim/*.swp
/nvim/.DS_Store
/nvim/view/
/nvim/plugged/
/nvim/sessions/
/nvim/autoload/
/nvim/tmp/
/nvim/.netrwhist
#/nvim/_machine_specific.vim
/nvim/.vim-bookmarks

!/jesseduffield/
/jesseduffield/lazygit/*
!/jesseduffield/lazygit/config.yml

!/README.me
!/LICENSE
!/.gitignore
!/.xmodmap
!/.ideavimrc
